@import "core/colors";

// Gradients
$gradients: () !default;
$gradients: map-merge((
  "purple": (
    "start": #ff6ec4,
    "end": #7873f5
  ),
  "peach": (
    "start": #FFD86F,
    "end": #FC6262
  ),
  "aqua": (
    "start": #2096ff,
    "end": #05ffa3
  ),
  "blue": (
    "start": #45cafc,
    "end": $indigo-darken-2
  ),
), $gradients);

// Gradients RGBA Version
$gradients-rgba: () !default;
$gradients-rgba: map-merge((
  "purple": (
    "start": rgba(255,110,196,.9),
    "end": rgba(120,115,245,.9)
  ),
  "peach": (
    "start": rgba(255,216,111,.9),
    "end": rgba(252,98,98,.9)
  ),
  "aqua": (
    "start": rgba(32,150,255,.9),
    "end": rgba(5,255,163,.9)
  ),
  "blue": (
    "start": rgba(69,202,252,.9),
    "end": rgba(48,63,159,.9)
  ),
), $gradients-rgba);


$note: () !default;
$note: map-merge((
  "primary": (
    "bgc": #dfeefd,
    "border-color": #176ac4
  ),
  "secondary": (
    "bgc": #e2e3e5,
    "border-color": #58595a
  ),
  "success": (
    "bgc": #e2f0e5,
    "border-color": #49a75f
  ),
  "danger": (
    "bgc": #fae7e8,
    "border-color": #e45460
  ),
  "warning": (
    "bgc": #faf4e0,
    "border-color": #c2a442
  ),
  "info": (
    "bgc": #e4f2f5,
    "border-color": #2492a5
  ),
  "light": (
    "bgc": #fefefe,
    "border-color": #0f0f0f
  )
), $note);
