$app_skins: () !default;
$app_skins: map-merge((
  "day": (
    "fill1":    #42526E,
    "fill2":    #EBECF0,
    "fill3":    #2062AE,
    "accent1":  #0052CC,
    "accent2":  #DEEBFF,
    "accent3":  #7A869A,

    "text":     #000000,
    "btn-link": #42526E,
    "pbtn-link":darken(#42526E, 10),
    "panel":    #ffffff,
    "thead":    #deebff,
    "athead":   darken(#deebff, 5),
    "link":     #0052cc
  ),
  "night": (
    "fill1":    #253858,
    "fill2":    #091E42,
    "fill3":    #002653,
    "accent1":  #00B8D9,
    "accent2":  #42526E,
    "accent3":  #6C798F,

    "text":     #ffffff,
    "btn-link": #00B8D9,
    "pbtn-link":darken(#00B8D9, 10),
    "panel":    #253858,
    "thead":    #6C798F,
    "athead":   lighten(#6C798F, 10),
    "link":     #00B8D9
  )
), $app_skins);

@function appSkin($skinKey) {
  @if map-has-key($app_skins, $skinKey) {
    @return map-get($app_skins, $skinKey);
  }
  @warn "Unknown `#{$skinKey}` skin in $app_skins";
  @return null;
}

@function appColor($skinKey, $colorKey) {
  @if map-has-key($app_skins, $skinKey) {
    $skin: map-get($app_skins, $skinKey);
    @if map-has-key($skin, $colorKey) {
      @return map-get($skin, $colorKey);
    }
  }
  @warn "Unknown `#{$skinKey}` skin in $app_skins or `#{$colorKey}` color could not be found in skin";
  @return null;
}

$day-skin: appSkin(day);
$night-skin: appSkin(night);

$white: #fff;
