%generic-table {
  table-layout: fixed;

  thead tr th {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border: none;
  }

  tbody tr {
    border-top: none;
    border-bottom: 1px solid #dee2e6;
    transition: background-color 0.2s linear;
  }
}

%nowrap-table {
  @extend %generic-table;

  tbody tr td {
    border-top: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

th.sortable {
  cursor: pointer;

  &.sort-ASC::after {
    font-family: "botinsight";
    content: " \f175";
  }
  &.sort-DESC::after {
    font-family: "botinsight";
    content: " \f176";
  }
}

.no-data-found {
  text-align: center;
  opacity: 0.65;
}
