%layout-block {
  border: none;
  margin: 0;
  padding: 0;
  display: block;
  position: absolute;
  transition: all 0.3s ease-in-out;
}

%active-element {
  -webkit-transition: background-color 0.3s linear;
  -moz-transition: background-color 0.3s linear;
  -o-transition: background-color 0.3s linear;
  -ms-transition: background-color 0.3s linear;
  transition: background-color 0.3s linear;
  cursor: pointer;
}

%shadow-box {
/*
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
*/
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.20), 0 3px 12px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.20), 0 3px 12px 0 rgba(0, 0, 0, 0.15);
}
