<template>
  <div class="device">
    <app-panel>
      <template v-slot:header>
        <app-breadcrumb-menu :breadcrumb="breadcrumb" />
      </template>

      <template v-slot:body>
        <form class="aui" v-if="device" ref="form">
          <div class="row">
            <div class="col-4">
              <div class="field-group">
                <label for="host">Host</label>
                <input
                  class="text long-field"
                  type="text"
                  id="host"
                  v-model="device.host"
                  disabled
                />
              </div>
            </div>
            <div class="col-4">
              <div class="field-group">
                <label for="port">Port</label>
                <input
                  class="text long-field"
                  type="text"
                  id="port"
                  v-model="device.port"
                  disabled
                />
              </div>
            </div>
            <div class="col-4">
              <div class="field-group">
                <label for="host">Organization</label>
                <input
                  class="text long-field"
                  type="text"
                  id="organization"
                  v-model="device.organization"
                  disabled
                />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <div class="field-group">
                <label for="port">Software</label>
                <input
                  class="text long-field"
                  type="text"
                  id="software"
                  v-model="device.software"
                  disabled
                />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-3">
              <div class="field-group">
                <label for="network">Network</label>
                <input
                  class="text long-field"
                  type="text"
                  id="network"
                  v-model="device.network"
                  disabled
                />
              </div>
            </div>
            <div class="col-3">
              <div class="field-group">
                <label for="station">Station</label>
                <input
                  class="text long-field"
                  type="text"
                  id="port"
                  v-model="device.station"
                  disabled
                />
              </div>
            </div>
            <div class="col-3">
              <div class="field-group">
                <label for="started">Started</label>
                <input
                  class="text long-field"
                  type="text"
                  id="started"
                  v-model="device.started_text"
                  disabled
                />
              </div>
            </div>
            <div class="col-3">
              <fieldset class="group">
                <div class="field-group">
                  <input
                    class="checkbox"
                    type="checkbox"
                    id="active"
                    v-model="device.active"
                    disabled
                  />
                  <label for="active"> Active</label>
                </div>
              </fieldset>
            </div>
          </div>

          <div class="row">
            <div class="col-6">
              <div class="field-group">
                <label>Streams</label>
                <div>
                  <span
                    v-for="stream in device.streams"
                    :key="stream.seedname"
                    class="aui-lozenge"
                    :class="{
                      'aui-lozenge-current': activeSeedname === stream.seedname
                    }"
                    @click="onStreamClick(stream)"
                    >{{ stream.seedname }}</span
                  >
                </div>
              </div>
            </div>
            <div class="col-6 slider-wrapper">
              <vue-slider v-model="decimationFactor" v-bind="sliderOptions" />
            </div>
          </div>
        </form>
        <div v-if="traces && traces.length &gt; 0">
          <h5>{{ title }}</h5>
          <waveform-chart
            :title="activeSeedname"
            :traces="traces"
            :width="$refs.form.offsetWidth"
            :height="400"
          />
        </div>
        <div v-if="traces && traces.length &gt; 0" class="dsys-chart-selector">
          <span
            v-for="chart in charts"
            :key="chart.id"
            class="aui-lozenge"
            :class="{
              'aui-lozenge-current': activeChart.id === chart.id
            }"
            @click="onChartClick(chart.id)"
            >{{ chart.title }}</span
          >
        </div>
      </template>

      <template v-slot:footer> </template>
    </app-panel>
    <load-overlay
      v-if="loading"
      text="Loading chart data..."
      :key="incarnation"
    />
  </div>
</template>

<script>
import moment from "moment";
import AppPanel from "@/components/Panel.vue";
import AppBreadcrumbMenu from "@/components/Breadcrumb.vue";
import WaveformChart from "@/components/dsys/WaveformChart.vue";
import ChartPeriods from "@/components/dsys/ChartPeriods";
import { parseTrace } from "@/util/trace";
import LoadOverlay from "@/components/LoadOverlay";
import VueSlider from 'vue-slider-component';
import 'vue-slider-component/theme/antd.css';

export default {
  name: "device",
  props: ["host", "port"],
  data() {
    return {
      breadcrumb: [
        { title: "Registered devices", to: { name: "Devices" } },
        { title: this.host, to: this.$route }
      ],
      device: null,
      messageBus: null,
      stream: null,
      activeSeedname: null,
      trace: null,
      charts: ChartPeriods,
      activeChart: ChartPeriods[0],
      traces: [],
      loading: false,
      incarnation: 0,
      decimationFactor: 5000,
      sliderOptions: {
        min: 1000,
        max: 15000
      }
    };
  },
  computed: {
    title() {
      if (!this.traces || this.traces.length === 0)
        return "No chart data loaded";
      const title = [
        [
          this.traces[0].info.poller.network,
          this.traces[0].info.poller.station,
          this.traces[0].info.poller.channel,
          this.traces[0].info.poller.seedname
        ].join(".")
      ];
      title.push(
        `${this.traces[0].info.period.start.format(
          "DD.MM.YYYY HH:mm:ss"
        )} - ${this.traces[this.traces.length - 1].info.period.end.format(
          "DD.MM.YYYY HH:mm:ss"
        )}`
      );
      return title.join(" | ");
    }
  },
  methods: {
    filterTraces(traces) {
      traces.sort(
        (a, b) => a.info.period.start.valueOf() - b.info.period.start.valueOf()
      );
      const firstTraceTime = moment(
        traces[traces.length - 1].info.period.start
      );
      firstTraceTime.subtract(this.activeChart.seconds, "seconds");
      return traces.filter(trace =>
        trace.info.period.end.isAfter(firstTraceTime)
      );
    },
    appendTraces(traces) {
      this.traces = this.filterTraces([
        ...this.traces,
        ...traces.map(trace => ({
          ...this.activeChart.decimate(trace, this.decimationFactor),
          info: parseTrace(trace.trace)
        }))
      ]);
      this.incarnation++;
    },
    appendTrace(trace) {
      if (!this.traces || this.traces.length === 0) return;
      this.traces = this.filterTraces([
        ...this.traces,
        ...[{
          ...this.activeChart.decimate(trace, this.decimationFactor),
          info: parseTrace(trace.trace)
        }]
      ]);
    },
    formatRec(rec) {
      rec.started_text = moment(rec.started).format("DD.MM.YYYY HH:mm:ss");
      return rec;
    },
    onMessage(msg) {
      // console.debug(msg);
      if (msg.error) {
        this.$notify({ type: "error", title: msg.title, body: msg.error });
      } else {
        this.device = this.formatRec(msg);
      }
    },
    onStream(msg) {
      if (msg.error) {
        this.$notify({ type: "error", title: msg.title, body: msg.error });
      } else if (msg.trace) {
        this.appendTrace(msg);
      } else if (msg.traces) {
        this.loading = false;
        this.appendTraces(msg.traces);
      }
    },
    async onStreamClick(stream) {
      // console.debug(stream);
      this.traces = [];
      if (this.activeSeedname === stream.seedname) {
        return;
      }
      this.activeSeedname = stream.seedname;
      this.activeChart = ChartPeriods[0];

      try {
        if (this.stream) {
          this.stream.disconnect();
        }
        this.loading = true;
        this.stream = await this.$backend(
          `/stream/${this.device.network}.${this.device.station}..${stream.seedname}`
        );
        this.stream.$on("message", e => {
          this.onStream(e);
        });
      } catch (err) {
        this.$notify({
          type: "error",
          title: "Failed to connect to backend",
          body: err.message
        });
      }
    },
    async onChartClick(chartId) {
      this.loading = true;
      this.traces = [];
      this.activeChart = this.charts.filter(chart => chart.id === chartId)[0];
      this.stream.sendMessage({
        message: "get-chart",
        chart: this.activeChart
      });
    }
  },
  async created() {
    try {
      this.messageBus = await this.$backend(`/device/${this.host}`);
      this.messageBus.$on("message", e => this.onMessage(e));
      this.messageBus.sendMessage({
        message: "get-streams",
        device: { host: this.host, port: this.port }
      });
    } catch (err) {
      this.$notify({
        type: "error",
        title: "Failed to connect to backend",
        body: err.message
      });
    }
  },
  beforeDestroy() {
    this.messageBus.disconnect();
    if (this.stream) {
      this.stream.disconnect();
    }
  },
  watch: {
    decimationFactor() {
      if (this.decimationFactorTimeout) {
        clearTimeout(this.decimationFactorTimeout);
      }
      this.decimationFactorTimeout = setTimeout(() => {
        this.loading = true;
        this.traces = [];
        this.stream.sendMessage({
          message: "get-chart",
          chart: this.activeChart
        });
      }, 2000);
    }
  },
  components: {
    AppPanel, AppBreadcrumbMenu, WaveformChart, LoadOverlay, VueSlider
  }
};
</script>

<style lang="scss">
@import "../styles/util";
@import "../styles/skins";
@import "../styles/table";

.device {
  @extend %shadow-box;
  border: none !important;
  border-radius: 7px;
  z-index: 10;
  margin: 0.5rem 0 0.5rem 0.5rem;
  height: calc(100% - 1rem);
  width: calc(100% - 1rem);

  .app-panel {
    padding: 0.5rem;
  }
  .app-panel-body {
    overflow-y: auto;
    overflow-x: hidden;
  }

  .long-field {
    max-width: 4000px !important;
  }

  input[type="checkbox"] {
    transform: translateY(8px);
  }
  input {
    color: black !important;
    cursor: default !important;
  }
  .aui-lozenge {
    margin: 4px;
    padding: 6px;
    cursor: pointer;
    border-radius: 6px;
  }

  h5 {
    text-align: center;
  }
}

@mixin device($skin) {
  .device {
    background-color: map-get($skin, panel);
    table {
      thead {
        background-color: map-get($skin, thead);
        th {
          &.sortable:hover {
            transition: all 0.3s linear;
            background-color: map-get($skin, athead);
          }
        }
      }
    }
  }
}

@each $skin, $data in $app_skins {
  .#{$skin}-skin {
    @include device($data);
  }
}

.dsys-chart-selector {
  padding-top: 20px;
  text-align: center;
}

.slider-wrapper {
  padding-top: 32px;
}
</style>
