<template>
  <div class="devices">
    <app-panel>
      <template v-slot:header>
        <app-breadcrumb-menu :breadcrumb="breadcrumb" />
      </template>

      <template v-slot:body>
        <table class="table table-hover table-sm">
          <colgroup>
            <col />
            <col />
            <col />
            <col />
            <col />
            <col />
          </colgroup>
          <thead>
            <tr>
              <th>Host</th>
              <th>Port</th>
              <th>Organization</th>
              <th>Software</th>
              <th>Started</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody v-if="devices && devices.length > 0">
            <tr v-for="device in devices" :key="device.host">
              <td @click="onRowClick(device)" :title="device.host">
                {{ device.host }}
              </td>
              <td @click="onRowClick(device)">{{ device.port }}</td>
              <td @click="onRowClick(device)" :title="device.organization">
                {{ device.organization }}
              </td>
              <td @click="onRowClick(device)" :title="device.software">
                {{ device.software }}
              </td>
              <td @click="onRowClick(device)">{{ device.started_text }}</td>
              <td>
                <va-button @click="onRemove(device)"
                  ><va-icon size="small">trash</va-icon> Remove</va-button
                >
              </td>
            </tr>
          </tbody>
          <tbody v-else>
            <tr>
              <td colspan="6" class="no-data-found">
                There are no devices in this system
              </td>
            </tr>
          </tbody>
        </table>
      </template>

      <template v-slot:footer>
        <va-button @click="onAddDevice">Add device</va-button>
      </template>
    </app-panel>

    <add-device-dialog ref="addDeviceDialog" />
  </div>
</template>

<script>
import moment from "moment";
import AppPanel from "@/components/Panel.vue";
import AppBreadcrumbMenu from "@/components/Breadcrumb.vue";
import { VaButton, VaIcon } from "vue-aui";
import AddDeviceDialog from "@/components/dsys/AddDeviceDialog.vue";

export default {
  name: "devices",
  data() {
    return {
      breadcrumb: [{ title: "Registered devices", to: this.$route }],
      devices: null,
      messageBus: null
    };
  },
  methods: {
    formatRec(rec) {
      rec.started_text = moment(rec.started).format("DD.MM.YYYY HH:mm:ss");
      return rec;
    },
    async onAddDevice() {
      const device = await this.$refs.addDeviceDialog.show();
      this.messageBus.sendMessage({ message: "add-device", device });
    },
    onMessage(msg) {
      // console.debug(msg);
      if (msg.error) {
        this.$notify({ type: "error", title: msg.title, body: msg.error });
      } else {
        msg.forEach(device => this.formatRec(device));
        this.devices = msg;
      }
    },
    onRowClick(device) {
      this.$router.push({
        name: "Device",
        params: { host: device.host, port: device.port }
      });
    },
    async onRemove(device) {
      try {
        if (
          await this.$confirmDialog.show({
            title: "Remove device",
            text:
              "Are you sure you want to remove this device from the registry?",
            btnConfirm: "Remove"
          })
        ) {
          this.messageBus.sendMessage({
            message: "remove-device",
            device: { host: device.host, port: device.port }
          });
        }
      } catch (err) {
        this.processError(err);
      }
    }
  },
  async created() {
    try {
      this.messageBus = await this.$backend("/devices");
      this.messageBus.$on("message", e => this.onMessage(e));
    } catch (err) {
      this.$notify({
        type: "error",
        title: "Failed to connect to backend",
        body: err.message
      });
    }
  },
  beforeDestroy() {
    this.messageBus.disconnect();
  },
  components: { AppPanel, AppBreadcrumbMenu, VaButton, VaIcon, AddDeviceDialog }
};
</script>

<style lang="scss">
@import "../styles/util";
@import "../styles/skins";
@import "../styles/table";

.devices {
  @extend %shadow-box;
  border: none !important;
  border-radius: 7px;
  z-index: 10;
  margin: 0.5rem 0 0.5rem 0.5rem;
  height: calc(100% - 1rem);
  width: calc(100% - 1rem);

  .app-panel {
    padding: 0.5rem;
  }
  .app-panel-body {
    overflow-y: auto;
  }

  table {
    @extend %nowrap-table;
    width: 100%;

    colgroup {
      col {
        &:nth-child(1) {
          width: 8.25rem;
        }
        &:nth-child(2) {
          width: 3.5rem;
        }
        &:nth-child(3) {
          width: 10rem;
        }
        &:nth-child(5) {
          width: 10rem;
        }
        &:nth-child(6) {
          width: 7rem;
        }
      }
    }
    thead {
      font-weight: 400;
      th {
        border-bottom: none;
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(5),
        &:nth-child(6) {
          text-align: center;
        }
      }
    }
    tbody {
      td:not(.no-data-found) {
        cursor: pointer;
        vertical-align: middle;
      }
    }
  }
}

@mixin devices($skin) {
  .devices {
    background-color: map-get($skin, panel);
    table {
      thead {
        background-color: map-get($skin, thead);
        th {
          &.sortable:hover {
            transition: all 0.3s linear;
            background-color: map-get($skin, athead);
          }
        }
      }
    }
  }
}

@each $skin, $data in $app_skins {
  .#{$skin}-skin {
    @include devices($data);
  }
}
</style>
