<template>
  <div class="skins">
    <h1>Skins</h1>
    <table>
      <thead>
        <tr>
          <th>Day</th>
          <th>Night</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="color in colors" :key="color">
          <td class="day-skin-colors">
            <span :class="`color-${color}`">{{ color }}</span>
          </td>
          <td class="night-skin-colors">
            <span :class="`color-${color}`">{{ color }}</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  name: "skins",
  data() {
    return {
      colors: [
        "fill1",
        "fill2",
        "fill3",
        "accent1",
        "accent2",
        "accent3",
        "text",
        "btn-link",
        "pbtn-link",
        "panel",
        "thead",
        "athead",
        "link"
      ]
    };
  }
};
</script>

<style lang="scss">
@import "../styles/skins";

$day-skin: appSkin(day);
$night-skin: appSkin(night);

.day-skin-colors {
  .color-fill1 {
    background: map-get($day-skin, fill1);
  }
  .color-fill2 {
    background: map-get($day-skin, fill2);
  }
  .color-fill3 {
    background: map-get($day-skin, fill3);
  }
  .color-accent1 {
    background: map-get($day-skin, accent1);
  }
  .color-accent2 {
    background: map-get($day-skin, accent2);
  }
  .color-accent3 {
    background: map-get($day-skin, accent3);
  }
  .color-text {
    background: map-get($day-skin, text);
  }
  .color-btn-link {
    background: map-get($day-skin, btn-link);
  }
  .color-pbtn-link {
    background: map-get($day-skin, pbtn-link);
  }
  .color-panel {
    background: map-get($day-skin, panel);
  }
  .color-thead {
    background: map-get($day-skin, thead);
  }
  .color-athead {
    background: map-get($day-skin, athead);
  }
  .color-link {
    background: map-get($day-skin, link);
  }
}

.night-skin-colors {
  .color-fill1 {
    background: map-get($night-skin, fill1);
  }
  .color-fill2 {
    background: map-get($night-skin, fill2);
  }
  .color-fill3 {
    background: map-get($night-skin, fill3);
  }
  .color-accent1 {
    background: map-get($night-skin, accent1);
  }
  .color-accent2 {
    background: map-get($night-skin, accent2);
  }
  .color-accent3 {
    background: map-get($night-skin, accent3);
  }
  .color-text {
    background: map-get($night-skin, text);
  }
  .color-btn-link {
    background: map-get($night-skin, btn-link);
  }
  .color-pbtn-link {
    background: map-get($night-skin, pbtn-link);
  }
  .color-panel {
    background: map-get($night-skin, panel);
  }
  .color-thead {
    background: map-get($night-skin, thead);
  }
  .color-athead {
    background: map-get($night-skin, athead);
  }
  .color-link {
    background: map-get($night-skin, link);
  }
}

.skins {
  margin-left: 50%;
  transform: translateX(-50%);
  span {
    display: block;
    height: 100%;
    text-align: center;
    padding-top: 12px;
  }
  td {
    width: 200px;
    height: 40px;
  }
}
</style>
