<template>
  <div class="breadcrumb-menu">
    <router-link
      class="breadcrumb-menu-item"
      v-for="(link, index) in breadcrumb"
      :key="index"
      :to="link.to"
    >
      {{ link.title }}
    </router-link>
  </div>
</template>

<script>
export default {
  name: "app-breadcrumb-menu",
  props: { breadcrumb: Array }
};
</script>

<style lang="scss">
@import "../styles/skins";

.breadcrumb-menu-item {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }

  &:not(:first-child) {
    &::before {
      content: " > ";
    }
  }
}

@each $skin, $data in $app_skins {
  .#{$skin}-skin {
    .breadcrumb-menu-item {
      color: map-get($data, accent3);
    }
  }
}
</style>
