<template>
  <va-dialog :title="title" floating :is-visible.sync="visible" size="small">
    <div>
      <p>
        {{ text }}
      </p>
    </div>
    <div slot="footer-actions">
      <va-button type="primary" @click="doConfirm">{{ btnConfirm }}</va-button>
      <va-button @click="doCancel">{{ btnCancel }}</va-button>
    </div>
  </va-dialog>
</template>

<script>
import { VaDialog, VaButton } from "vue-aui";
import ConfirmDialogPlugin from "../plugins/ConfirmDialogPlugin";

export default {
  name: "confirm-dialog",
  data() {
    return {
      visible: false,
      title: "",
      text: "",
      btnConfirm: "Proceed",
      btnCancel: "Cancel",
      callback(result) {
        console.debug(`ConfirmDialog=${result}`);
      }
    };
  },
  methods: {
    doConfirm() {
      this.callback(true);
      this.hide();
    },
    doCancel() {
      this.callback(false);
      this.hide();
    },
    onClose() {
      this.callback(false);
      this.hide();
    },
    show(params) {
      this.visible = true;
      this.title = params.title;
      this.text = params.text;
      this.callback = params.callback;
      this.btnConfirm = params.btnConfirm || "Proceed";
      this.btnCancel = params.btnCancel || "Cancel";
    },
    hide() {
      this.visible = false;
    }
  },
  beforeMount() {
    ConfirmDialogPlugin.EventBus.$on("show", params => {
      this.show(params);
    });
  },
  components: { VaDialog, VaButton }
};
</script>
