<template>
  <div class="default-footer">
    <span>© APT, 2020; build {{ version }}</span>
  </div>
</template>

<script>
import Version from "../version";

export default {
  name: "default-footer",
  data() {
    return {
      version: Version
    };
  }
};
</script>

<style lang="scss">
@import "../styles/util";
@import "../styles/skins";

.default-footer {
  @extend %layout-block;
  text-align: center;

  span {
    display: inline-block;
    transform: translateY(1px);
  }
}

@each $skin, $data in $app_skins {
  .#{$skin}-skin {
    .default-footer {
      color: $white;
      background: map-get($data, accent3);
    }
  }
}
</style>
