<template>
  <div
    class="default-header collapsible-header"
    :class="{ 'collapse-header': collapse }"
  >
    <div class="logo">
      <router-link :to="{ path: '/' }">
        APT
      </router-link>
    </div>
    <div class="app-header-caption">{{ $store.getters.title }}</div>
  </div>
</template>

<script>
export default {
  name: "default-header",
  props: { collapse: Boolean }
};
</script>

<style lang="scss">
@import "../styles/util";
@import "../styles/skins";
@import "../styles/logo";
@import "../styles/colors";

.default-header {
  @extend %layout-block;
  @extend %shadow-box;
  display: table;
  & > div {
    display: table-cell;
    height: 100%;
  }
  color: $white;

  .logo {
    cursor: pointer;
    width: 181px;
    padding: 0.5rem;
    text-align: center;
    a {
      color: white;
      font-size: 2.25rem;
      font-weight: 900;
      text-decoration: none;
      &:focus {
        outline: none;
      }
    }
  }
  .app-header-caption {
    vertical-align: middle;
    font-size: 110%;
    font-weight: 500;
  }
  .app-header-search {
    width: 10rem;
  }
  .app-header-avatar {
    @extend %active-element;
    width: 5rem;
  }

  .app-header-toolbar {
    @extend %active-element;
    height: 100%;
    width: 5rem;
    vertical-align: top;
    div {
      display: inline-block;
      height: 100%;
      // border: thin dotted red;
    }
  }
}

@each $skin, $data in $app_skins {
  .#{$skin}-skin {
    .default-header {
      background: map-get($data, fill3);

      .app-header-avatar,
      .toolbar .fa-search {
        &:hover {
          background-color: lighten(map-get($data, fill3), 7);
        }
      }
    }
  }
}
</style>
