<template>
  <div id="load-overlay">
    <div>
      {{ text }}
      <div>
        <div class="load-overlay-spinner" ref="o"></div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "load-overlay",
  props: ["text"],
  mounted() {
    const spinner = document.createElement("aui-spinner");
    spinner.setAttribute("size", "large");
    this.$refs.o.appendChild(spinner);
  }
};
</script>

<style lang="scss" scoped>
#load-overlay {
  display: inline-block;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(200, 200, 200, 0.85);
  text-align: center;
  & > div {
    margin-top: 25%;
    margin-bottom: 25%;
    .load-overlay-spinner {
      display: inline-block;
      height: 64px;
      width: 64px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
</style>
