<template>
  <div class="app-panel">
    <div class="app-panel-header">
      <slot name="header" />
    </div>

    <div class="app-panel-body">
      <slot name="body" />
    </div>

    <div class="app-panel-footer">
      <slot name="footer" />
    </div>
  </div>
</template>

<script>
export default {
  name: "app-panel"
};
</script>

<style lang="scss">
@import "../styles/core/colors";

%app-panel {
  // padding: 0.5rem;
  height: 100%;
  width: 100%;
  display: block;
}

@mixin app-panel-with-header() {
  @extend %app-panel;

  .app-panel-header {
    height: 2rem;
  }
  .app-panel-body {
    height: calc(100% - 4rem);
  }
  .app-panel-footer {
    height: 2rem;
  }
}
@mixin app-panel-no-header() {
  @extend %app-panel;

  .app-panel-body {
    height: calc(100% - 2rem);
  }
  .app-panel-footer {
    height: 2rem;
  }
}

.app-panel {
  @include app-panel-with-header();
  position: relative;

  & > .app-panel-footer {
    // overflow: hidden;
    // height: 2rem;
  }
}
</style>
