<template>
  <va-dialog title="Register a new device" floating :is-visible.sync="visible">
    <div>
      <form class="aui">
        <div class="field-group">
          <label for="host"
            >Host <span class="aui-icon icon-required">(required)</span></label
          >
          <input
            class="text long-field"
            type="text"
            id="host"
            placeholder="host"
            v-model="host"
          />
          <div v-if="host === ''" class="error">
            Host name or IP address required
          </div>
          <div v-else-if="!hostValid" class="error">Not a valid host name</div>
          <div v-else class="description">Device host name or IP address</div>
        </div>
        <div class="field-group">
          <label for="port">Port</label>
          <input
            class="text long-field"
            type="text"
            id="port"
            placeholder="18000"
            v-model="port"
          />
          <div v-if="!portValid" class="error">Not a valid port number</div>
          <div v-else class="description">
            Device port number, defaults to 18000
          </div>
        </div>
      </form>
    </div>
    <div slot="footer-actions">
      <va-button type="primary" @click="onRegister">Register</va-button>
      <va-button @click="onCancel">Cancel</va-button>
    </div>
  </va-dialog>
</template>

<script>
import { VaDialog, VaButton } from "vue-aui";

export default {
  name: "add-device-dialog",
  data() {
    return {
      host: null,
      port: null,
      hostValid: true,
      portValid: true,
      visible: false,
      result: null
    };
  },
  methods: {
    show() {
      this.result = null;
      this.host = null;
      this.port = null;
      this.visible = true;
      return new Promise(resolve => {
        this.resolve = resolve;
      });
    },
    validateHost(host) {
      if (host === null) {
        this.hostValid = true;
      } else {
        this.hostValid = !!host.match(
          /^(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$|^(([a-zA-Z0-9]|[a-zA-Z0-9][a-zA-Z0-9-]*[a-zA-Z0-9])\.)+([A-Za-z]|[A-Za-z][A-Za-z0-9-]*[A-Za-z0-9])$/g
        );
      }
    },
    validatePort(port) {
      if (!port) {
        this.portValid = true;
      } else if (!port.match(/^[0-9]+$/g)) {
        this.portValid = false;
      } else {
        const p = parseInt(port, 10);
        this.portValid = p > 1023 && p <= 65535;
      }
    },
    onRegister() {
      if (!this.hostValid || !this.portValid) {
        return;
      }
      this.result = {
        host: this.host,
        port: parseInt(this.port || 18000, 10)
      };
      this.visible = false;
    },
    onCancel() {
      this.visible = false;
    }
  },
  watch: {
    visible(visible) {
      if (!visible) {
        this.resolve(this.result);
      }
    },
    host(host) {
      this.validateHost(host);
    },
    port(port) {
      this.validatePort(port);
    }
  },
  components: { VaDialog, VaButton }
};
</script>
