<template>
  <canvas id="waveform-chart" :width="width" :height="height"></canvas>
</template>

<script>
import moment from "moment";

function countToN(n) {
  const data = [];
  for (let i = 0; i < n; i++) {
    data.push(i);
  }
  return data;
}
function getTraceData(traces) {
  const tracedata = [];
  traces.forEach(trace =>
    trace.data.forEach(val =>
      tracedata.push(val)
    )
  );
  return tracedata;
}

export default {
  name: "waveform-chart",
  props: ["title", "traces", "width", "height"],
  data() {
    return {
      chartData: null,
      options: {
        animation: {
          duration: 0
        },
        scales: {
          xAxes: [
            {
              ticks: {
                maxTicksLimit: this.width / 50,
                maxRotation: 0,
                minRotation: 0,
                callback: value => {
                  if (this.startTime) {
                    let m = moment(this.startTime);
                    m.add((value * this.diffMs) / this.tickCount, "ms");
                    return m.format("mm:ss");
                  } else {
                    return "";
                  }
                }
              }
            }
          ]
        }
      },
      startTime: null,
      endTime: null,
      diffMs: null,
      tickCount: 0
    };
  },
  methods: {
    makeChartData(tracedata) {
      return {
        labels: countToN(tracedata.length),
        datasets: [
          {
            label: this.title,
            data: tracedata,
            fill: false,
            pointRadius: 0,
            lineTension: 0,
            borderWidth: 2,
            borderColor: "rgb(0,0,0)"
          }
        ]
      };
    }
  },
  async mounted() {
    const traces = this.traces;
    const tracedata = getTraceData(traces);
    this.tickCount = tracedata.length;
    this.startTime = traces[0].info.period.start;
    this.endTime = traces[traces.length - 1].info.period.end;
    this.diffMs = this.endTime.diff(this.startTime);

    const data = this.makeChartData(tracedata);
    this.chart = new window.Chart(this.$el, {
      type: "line",
      data,
      options: this.options
    });
    this.chartData = data;
  },
  watch: {
    traces(traces) {
      const tracedata = getTraceData(traces);
      this.tickCount = tracedata.length;
      this.startTime = traces[0].info.period.start;
      this.endTime = traces[traces.length - 1].info.period.end;
      this.diffMs = this.endTime.diff(this.startTime);

      this.chart.data.labels = countToN(tracedata.length);
      this.chart.data.datasets[0].data = tracedata;
      this.chart.update();
    }
  }
};
</script>
