<template>
  <div id="app" :class="$store.getters.skin">
    <router-view name="layout">
      <router-view name="content" />
    </router-view>
    <confirm-dialog />
  </div>
</template>

<style lang="scss">
#app {
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-weight: 400;
}
</style>
