<template>
  <div class="default-layout">
    <default-header :collapse="collapseHeader" />
    <div ref="body" class="default-body">
      <slot />
    </div>
    <default-footer />
  </div>
</template>

<script>
import DefaultHeader from "../components/DefaultHeader.vue";
import DefaultFooter from "../components/DefaultFooter.vue";

const SCROLLING_NAVBAR_OFFSET_TOP = 10;

export default {
  name: "default-layout",
  data() {
    return {
      collapseHeader: false
    };
  },
  methods: {
    onScroll() {
      if (this.$refs.body.scrollTop > SCROLLING_NAVBAR_OFFSET_TOP) {
        this.collapseHeader = true;
      } else {
        this.collapseHeader = false;
      }
    }
  },
  mounted() {
    this.$refs.body.addEventListener("scroll", this.onScroll);
  },
  beforeDestroy() {
    this.$refs.body.removeEventListener("scroll", this.onScroll);
  },
  components: { DefaultHeader, DefaultFooter }
};
</script>

<style lang="scss">
@import "../styles/sizes";
@import "../styles/util";
@import "../styles/skins";

.default-layout {
  position: relative;
  height: 100%;
  width: 100%;
}
.default-body {
  @extend %layout-block;
  overflow: auto;
  width: 100%;
}

@mixin default-header($height, $margin, $padding) {
  width: 100%;
  height: $height;
}
@mixin default-footer($height, $margin) {
  left: 0;
  // margin-left: $margin;
  // width: calc(100% - #{$margin});
  width: 100%;
  bottom: 0;
  height: $height;
  overflow: hidden;
  z-index: 1;
  line-height: 1;
}
@mixin default-body($margin, $top, $bottom, $padding) {
  left: 0;
  // margin-left: $margin;
  // width: calc(100% - #{$margin});
  // width: calc(100% - #{0.5 * $padding - 1px});
  top: 0;
  margin-top: $top;
  margin-bottom: $bottom;
  margin-right: 0;
  height: calc(100% - #{$top + $bottom});
  z-index: 0;
}
@mixin default-layout($name) {
  $layout: map-get($app_sizes, $name);
  $padding: map-get($layout, padding);
  $header: map-get($layout, header);
  $footer: map-get($layout, footer);
  $font: map-get($layout, font);
  $sidemenu: map-get($layout, sidemenu);

  html {
    font-size: $font;
  }

  .default-header {
    @include default-header($header, $sidemenu, $padding);
    &.collapsible-header {
      height: #{$header + 0.5 * $padding};
      &.collapse-header {
        height: #{$header - 0.5 * $padding};
      }
    }
    .logo {
      img {
        transition: all 0.3s ease-in-out;
      }
    }
  }
  .default-footer {
    @include default-footer($footer, $sidemenu);
  }
  .default-body {
    @include default-body($sidemenu, $header, $footer, $padding);
    & > *:first-child {
      min-height: calc(100% - 1rem);
      // Preserve border attribtue: if the borer is removed then
      // annoying scrollbar is displayed (at least in Webkit)
      border: thin solid transparent;
    }
  }
  .default-header.collapsible-header {
    $height: #{$header - 0.25 * $padding};
    .logo {
      img {
        height: $height;
        padding: 0.45rem 0.5rem 0 0.5rem;
      }
    }
  }
  .default-header.collapsible-header.collapse-header {
    $height: #{$header - $padding};
    .logo {
      img {
        height: $height;
        padding: 0.25rem 2rem;
      }
    }
  }
  .default-header.collapsible-header + .default-body {
    margin-top: #{$header + 0.5 * $padding};
    height: calc(100% - #{$header + $footer + 0.5 * $padding});
  }
  .default-header.collapsible-header.collapse-header + .default-body {
    margin-top: #{$header - 0.5 * $padding};
    height: calc(100% - #{$header + $footer - 0.5 * $padding});
  }
}

@media only screen and (min-width: 1920px) {
  @include default-layout(FHD_1920_1080);
}
@media only screen and (min-width: 1680px) and (max-width: 1919px) {
  @include default-layout(WSXGA_1680_1050);
}
@media only screen and (min-width: 1440px) and (max-width: 1679px) {
  @include default-layout(WXGA_1440_900);
}
@media only screen and (min-width: 1366px) and (max-width: 1439px) {
  @include default-layout(WXGA_1366_768);
}
@media only screen and (min-width: 1280px) and (max-width: 1365px) {
  @include default-layout(WXGA_1280_800);
}
@media only screen and (max-width: 1279px) {
  @include default-layout(OTHER_SMALL);
}
@media screen {
  .printable * {
    visibility: hidden;
  }
}
@media print {
  .printable * {
    visibility: visiable;
    margin-top: 24pt;
  }
  .default-header {
    visibility: hidden;
  }
}

@each $skin, $data in $app_skins {
  .#{$skin}-skin {
    .default-body {
      background: map-get($data, fill2);
    }
  }
}
</style>
